/* APPLE PRINT & CREATIVE //////////////////////////////////////////////////////////////////////////////////////////////////
// UPSCALE TEMPLATE ////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: NAME OF SITE //////////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2015 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////.d888888////////////////////dP//////////////888888ba///////////oo////////////dP//////dP////////d888888P/888888ba///////
////d8'////88////////////////////88//////////////88////`8b////////////////////////88//////88///////////88////88////`8b//////
////88aaaaa88a/88d888b./88d888b./88/.d8888b.////a88aaaa8P'/88d888b./dP/88d888b./d8888P////88///////////88////88/////88//////
////88/////88//88'//`88/88'//`88/88/88ooood8/////88////////88'//`88/88/88'//`88///88//////88///////////88////88/////88//////
////88/////88//88.//.88/88.//.88/88/88.//.../////88////////88///////88/88////88///88//////88///////////88////88////.8P//////
////88/////88//88Y888P'/88Y888P'/dP/`88888P'/////dP////////dP///////dP/dP////dP///dP//////88888888P////dP////8888888P///////
///////////////88///////88//////////////////////////////////////////////////////////////////////////////////////////////////
///////////////dP///////dP//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
.keyframeExample {
	-webkit-animation: keyframeExample 1s linear infinite;
	animation: keyframeExample 1s linear infinite;
	-moz-animation: keyframeExample 1s linear infinite;

	-webkit-transition: left 500ms ease;
	-moz-transition: left 500ms ease;
	-o-transition: left 500ms ease;
	 transition: left 500ms ease;
}

@-webkit-keyframes keyframeExample {0% {}50% {}100% {}}
@-moz-keyframes keyframeExample {0% {}50% {}100% {}}
@keyframes keyframeExample {0% {}50% {}100% {}}

.flexBoxExample {
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-content: center;
	-webkit-align-content: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
*/
.button.bypasslogin {
    position: absolute;
    top: 0;
    width: 40px;
    overflow: hidden;
    color: red;
    left: 20px;
}
.createRingo, .createInsatsu {
    color: #fff;
    height: 40px;
    width: 80%;
    display: block;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    margin-bottom: 20px;
    left: 10%;
    position: relative;
}

/*PAGE RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
/*PAGE RESET*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#333;
    background-attachment:fixed;
    font-family: ralewayregular;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    letter-spacing: 1px;
}
h1 {font-size: 20px;margin:10px 0px;}
h2 {font-size: 18px;margin:10px 0px;}
h3 {font-size: 16px;margin:10px 0px;}
h4 {font-size: 14px;margin:10px 0px;}
h5 {font-size: 10px;margin:10px 0px;}
.registerLoginContainer h1 {
    font-size: 50px;
    padding-bottom: 20px;
    color: #E3097E;
    font-family: 'pacificoregular';
    letter-spacing: 0;
}
/* ------------------------------------------ */
/* BUTTONS ---------------------------------- */
/* ------------------------------------------ */
.button {display: block;width: 100%;height: 44px;background: rgba(255,255,255,0.4);color: #fff;line-height: 44px;text-align: center;position: relative;border-radius: 6px;margin: 10px 0px;color: #000;text-transform: uppercase;text-decoration: none;font-size: 15px;}

/* ------------------------------------------ */
/* LOGIN PAGE ------------------------------- */
/* ------------------------------------------ */

.fullHeightPanel.registerLoginPanel {display: none;-ms-transform: translate(100%,0);-webkit-transform: translate(100%,0);transform: translate(100%,0);-webkit-animation: slidePanelInFromRight 0.2s ease-in-out forwards;animation: slidePanelInFromRight 0.2s ease-in-out forwards;-moz-animation: slidePanelInFromRight 0.2s ease-in-out forwards;background: url("../img/form-background.jpg");background-size: cover;background-position-y: -4px;-webkit-transition: all 1.5s ease;-moz-transition: all 1.5s ease;-o-transition: all 1.5s ease;transition: all 1.5s ease;}
.fullHeightPanel.registerLoginPanel.displaceBackgroundLogin {background-position-y: -250px;}
.fullHeightPanel.registerLoginPanel.displaceBackgroundRegister {background-position-y: 99%;}
.rememberMeButton.statusRemember {background: #E3097E;}
.rememberMeButton {font-size: 40px;display: inline-block;width: 40px;height: 25px;text-align: center;line-height: 40px;background: rgba(255,255,255,0.5);border-radius: 4px;position: absolute;right: 0;bottom: 7px;}
.rememberMe {height: 40px;text-align: left;width: 250px;position: relative;margin-bottom: 15px;}
.rememberMe p {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    font-size: 16px;
    text-transform: uppercase;
    color:#fff;
}
.registerLoginContainer {
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: start;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 80%;
    width: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    max-width: 250px;
    margin-left: auto;
    padding-top: 40px;
    margin-right: auto;
}
.slideLogin {display: none;margin-top: 40px;padding-top: 60px;position: relative;}
.slideRegister {display: none;padding-top: 50px;position: relative;}
.hideSlideLogin, .hideSlideRegister {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-family: ralewaythin;
}
.registerLoginContainer.registerLoginReduceMax {height: 0px;overflow: hidden;padding-top: 0;}
.registerLoginContainer.registerLoginReduce {
    height: 350px;
    margin-top: -183px;
    padding-top: 0;
}
input {
    height: 44px;
    position: relative;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    padding: 0;
    box-sizing: content-box;
    background: rgba(255,255,255,0.5);
    border-radius: 4px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: ralewaythin;
    letter-spacing: 1px;
    width: 250px;
    display: block;
    position: relative;
}
form#registerForm input {margin-bottom: 5px;}
.submitLogin {height: 44px;display: block;width: 250px;border: none;background: #E3097E;color: #fff;font-size: inherit;text-transform: uppercase;border-radius: 4px;font-size: 15px;font-family: ralewayregular;letter-spacing: 1px;}
::-webkit-input-placeholder {color:    #fff;}
:-moz-placeholder {color:    #fff;opacity:  1;}
::-moz-placeholder {color:    #fff;opacity:  1;}
:-ms-input-placeholder {color:    #fff;}
:placeholder-shown {color:    #fff;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: rgb(250, 255, 189, 0);background-image: none;color: rgb(0, 0, 0);}
form {display: flex;display: -webkit-flex;-webkit-box-pack: start;flex-direction: row;-webkit-flex-direction: row;flex-wrap: wrap;-webkit-flex-wrap: wrap;align-content: center;-webkit-align-content: center;justify-content: center;-webkit-justify-content: center;align-items: center;-webkit-align-items: center;max-width: 250px;
    margin-left: auto;
    margin-right: auto;}
/* ------------------------------------------ */
/* STORYBOARD ------------------------------- */
/* ------------------------------------------ */
.fullHeightPanel.loadingPanel{text-align: center;color: #fff;background: -moz-linear-gradient(top, #701551 0%, #451451 100%);background: -webkit-linear-gradient(top, #701551 0%,#451451 100%);background: linear-gradient(to bottom, #701551 0%,#451451 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#701551', endColorstr='#451451',GradientType=0 );}

.fullHeightPanel.storyboardPanel {display: none;background: #701551;background: -moz-linear-gradient(top, #701551 0%, #451451 100%);background: -webkit-linear-gradient(top, #701551 0%,#451451 100%);background: linear-gradient(to bottom, #701551 0%,#451451 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#701551', endColorstr='#451451',GradientType=0 );-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;-o-transition: all 400ms ease;transition: all 400ms ease;-ms-transform: translate(100%,0);-webkit-transform: translate(100%,0);transform: translate(100%,0);-webkit-animation: slidePanelInFromRight 400ms linear forwards;animation: slidePanelInFromRight 400ms linear forwards;-moz-animation: slidePanelInFromRight 400ms linear forwards;color:#fff;}

.skipStoryboard {position: absolute;bottom: 21px;right: 0;font-size: 40px;width: 60px;height: 40px;line-height: 40px;text-align: center;}
.returnStoryboard {position: absolute;bottom: 21px;left: 0;font-size: 40px;width: 60px;height: 40px;line-height: 40px;text-align: center;}
.skipStoryboard p {font-size: 14px;height: 10px;line-height: 14px;}
.returnStoryboard p {font-size: 14px;height: 10px;line-height: 14px;}
/* ------------------------------------------ */
/* STORYBOARD ------------------------------- */
/* ------------------------------------------ */
.fullHeightPanel.mainPanel.ringoBackground {background: #701551;background: -moz-linear-gradient(top, #701551 0%, #451451 100%);background: -webkit-linear-gradient(top, #701551 0%,#451451 100%);background: linear-gradient(to bottom, #701551 0%,#451451 100%);overflow: hidden;}
.fullHeightPanel.mainPanel.insatsuBackground {background: #98d3c2;background: -moz-linear-gradient(top,  #98d3c2 0%, #6bdfbf 100%);background: -webkit-linear-gradient(top,  #98d3c2 0%,#6bdfbf 100%);background: linear-gradient(to bottom,  #98d3c2 0%,#6bdfbf 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d3c2', endColorstr='#6bdfbf',GradientType=0 );overflow: hidden;}

/* ------------------------------------------ */
/* Main Panel ------------------------------- */
/* ------------------------------------------ */
.fullHeightPanel.mainPanel{display: none;}
.starContainer{
    content: "";
    background: url("../img/stars.png");
    background-size: cover;
    height: 3000px;
    left: calc(50% - 1500px);
    position: absolute;
    z-index: 1;
    top: calc(100% - 1500px);
    border: 2px solid red;
    width: 3000px;
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
    -webkit-animation: rotateStars 120s linear infinite;
    animation: rotateStars 120s linear infinite;
    -moz-animation: rotateStars 120s linear infinite;
    -ms-transform-origin: 50% 50 0;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.statusContainer img {position: absolute;display: block;height: 15px;width: 15px;bottom: 0;left: 0;}
.statusContainer .statusFoodIcon {left: 14px;bottom: 1px;}
.statusContainer .statusEntertainIcon {left: 32px;}
.statusContainer .statusCleanIcon {left: 51px;bottom: 0px;}

.ringoBackground > .landContainer {content: "";background: url("../img/background-ringo.png");background-size: cover;bottom: -40px;z-index: 2;height: 290px;left: 0;display: block;position: absolute;width: 100%;}

.insatsuBackground > .landContainer {content: "";background: url("../img/background-insatsu.png");background-size: cover;bottom: -100px;z-index: 2;height: 290px;left: 0;display: block;position: absolute;width: 100%;}

.buttonContainer {width: 100%;height: 40px;display: block;position: absolute;bottom: 14px;z-index: 3;}
.buttonContainer a {width: 24%;height: 40px;display: inline-block;text-align: center;}
.buttonContainer img {height: 80%;}
.scoreContainer {position: absolute;right: 0;top: 20px;color: #1f9cd9;font-family: ralewaybold;font-size: 15px;text-shadow: 0px 2px 6px rgba(0,0,0,0.5);width: 100px;text-align: center;z-index: 4;}
.currentScore {font-size: 28px;font-family: ralewaybold;margin-top: -10px;}
.statusContainer {
    position: absolute;
    top: 65px;
    right: 9px;
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 3;
}
.statusContainer>div {width: 10px;height: 60px;display: inline-block;background: rgba(255,255,255,0.7);border-radius: 8px;margin: 0px 2px;position: relative;overflow: hidden;box-shadow: 0px 2px 6px rgba(0,0,0,0.5);}
.statusContainer>div>div {width: 100%;height: 20%;display: block;position: absolute;bottom: 0;border-radius: 4px;-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;-o-transition: all 400ms ease;transition: all 400ms ease;}
.statusFood .statusLevel{background:#f8ea21;}
.statusEntertain .statusLevel{background:#E3097E;}
.statusClean .statusLevel{background:#1f9cd9;}
.menuButtonContainer {width: 80px;height: 80px;display: block;font-size: 40px;text-align: center;line-height: 80px;z-index: 3;position: relative;}
.menuButtonContainer a {color: #fff;}
/* ------------------------------------------ */
/* PET -------------------------------------- */
/* ------------------------------------------ */
.petContainer {
    position: absolute;
    z-index: 4;
    bottom: 130px;
    left: 50%;
    width: 200px;
    height: 238px;
    display: block;
    margin-left: -100px;
}
.petMain{
  width:100%;
}

/*Random Egg rock*/
.stage1 {-webkit-transition: all 1.5s linear;-moz-transition: all 1.5s linear;-o-transition: all 1.5s linear;transition: all 1.5s linear;-webkit-animation: eggRoll 2s linear infinite;animation: eggRoll 6s linear infinite;-moz-animation: eggRoll 2s linear infinite;-ms-transform-origin: 50% 100%;-webkit-transform-origin: 50% 100%;transform-origin: 50% 75%;
}

/*.petContainer:after {content: "";width: 100%;height: 1px;background: yellow;display: block;position: absolute;top: 75%;left: 0;}
.petContainer:before {content: "";height: 100%;width: 1px;background: green;display: block;position: absolute;top: 0;left: 50%;}*/
/* ------------------------------------------ */
/* PET FOOD --------------------------------- */
/* ------------------------------------------ */
.petFood {
    position: absolute;
    bottom: 560px;
    width: 70px;
    height: 70px;
    display: none;
    background: url('../img/food.png');
    z-index: 5;
    background-size: cover;
    left: 50%;
    margin-left: -35px;
}
.stage1_foodDrop{
  -webkit-transition: all 1.5s linear;
  -moz-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  transition: all 1.5s linear;
  -webkit-animation: stage1_foodDrop 1s linear forwards;
  animation: stage1_foodDrop 1s linear forwards;
  -moz-animation: stage1_foodDrop 1s linear forwards;
}



/* ------------------------------------------ */
/* PANELS ----------------------------------- */
/* ------------------------------------------ */
.fullHeightPanel {display: block;height: 100%;width: 100%;background: #fff;position: absolute;}
