<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns = "http://www.w3.org/ns/widgets"

       xmlns:gap   = "http://phonegap.com/ns/1.0"
       id          = "com.applegotchi"
       version     = "1.0.0"
       versionCode = "10" >

  <!-- versionCode is optional and Android only -->

  <preference name="phonegap-version" value="3.5.0" />

  <name>Sample Config.xml</name>

  <description>
  An example for phonegap build docs.
  </description>

  <author href="http://yoursite.com" email="you@youremail.com">
  Your Name
  </author>

  <platform name="ios" >
    <preference name="orientation" value="portrait" />
  </platform>

  <platform name="android" >
    <preference name="orientation" value="portrait" />
  </platform>

  <plugin name="cordova-plugin-device" />


  <icon src="icon/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="icon/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="icon/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="icon/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>

  <icon src="icon/icon-40.png" gap:platform="ios" width="40" height="40"/>
  <icon src="icon/icon-40@2x.png" gap:platform="ios" width="80" height="80"/>
  <icon src="icon/icon-40@3x.png" gap:platform="ios" width="120" height="120"/>
  <icon src="icon.png"/>
  <icon src="icon/icon-50.png" gap:platform="ios" width="50" height="50"/>
  <icon src="icon/icon-50@2x.png" gap:platform="ios" width="100" height="100"/>
  <icon src="icon/icon-Small-50.png" gap:platform="ios" width="50" height="50"/>
  <icon src="icon/icon-Small-50@2x.png" gap:platform="ios" width="100" height="100"/>
  <icon src="icon/icon-57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="icon/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
  <icon src="icon/icon-60.png" gap:platform="ios" width="60" height="60"/>
  <icon src="icon/icon-60@2x.png" gap:platform="ios" width="120" height="120"/>
  <icon src="icon/icon-60@3x.png" gap:platform="ios" width="180" height="180"/>
  <icon src="icon/icon-72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="icon/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
  <icon src="icon/icon-76.png" gap:platform="ios" width="76" height="76"/>
  <icon src="icon/icon-76-2x.png" gap:platform="ios" width="152" height="152"/>

  <!-- Define app splash screen for each platform. -->
  <gap:splash src="screen/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
  <gap:splash src="screen/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
  <gap:splash src="screen/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
  <gap:splash src="screen/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />

  <gap:splash src="Default.png"                                       gap:platform="ios"     width="320" height="480" />
  <gap:splash src="screen/Default@2x.png"                     gap:platform="ios"     width="640" height="960" />
  <gap:splash src="screen/Default-@2xL.png"                   gap:platform="ios"     width="960" height="640" />
  <gap:splash src="screen/Default-568h@2x.png"                gap:platform="ios"     width="640" height="1136" />
  <gap:splash src="screen/Default-Landscape-568h@2x.png"      gap:platform="ios"     width="1136" height="640" />
  <gap:splash src="screen/Default-667h@.png"                  gap:platform="ios"     width="750" height="1334" />
  <gap:splash src="screen/Default-736h.png"                   gap:platform="ios"     width="1242" height="2208" />
  <gap:splash src="screen/Default-Landscape-736h.png"         gap:platform="ios"     width="2208" height="1242" />
  <gap:splash src="screen/Default-Portrait.png"               gap:platform="ios"     width="768" height="1024" />
  <gap:splash src="screen/Default-Landscape.png"              gap:platform="ios"     width="1024" height="768" />
  <gap:splash src="screen/Default-Portrait@2x.png"            gap:platform="ios"     width="1536" height="2048" />
  <gap:splash src="screen/Default-Landscape@2x.png"           gap:platform="ios"     width="2048" height="1536" />

  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget> 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
