/* APPLE PRINT & CREATIVE //////////////////////////////////////////////////////////////////////////////////////////////////
// UPSCALE TEMPLATE ////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: NAME OF SITE //////////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2015 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////.d888888////////////////////dP//////////////888888ba///////////oo////////////dP//////dP////////d888888P/888888ba///////
////d8'////88////////////////////88//////////////88////`8b////////////////////////88//////88///////////88////88////`8b//////
////88aaaaa88a/88d888b./88d888b./88/.d8888b.////a88aaaa8P'/88d888b./dP/88d888b./d8888P////88///////////88////88/////88//////
////88/////88//88'//`88/88'//`88/88/88ooood8/////88////////88'//`88/88/88'//`88///88//////88///////////88////88/////88//////
////88/////88//88.//.88/88.//.88/88/88.//.../////88////////88///////88/88////88///88//////88///////////88////88////.8P//////
////88/////88//88Y888P'/88Y888P'/dP/`88888P'/////dP////////dP///////dP/dP////dP///dP//////88888888P////dP////8888888P///////
///////////////88///////88//////////////////////////////////////////////////////////////////////////////////////////////////
///////////////dP///////dP//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
.keyframeExample {
	-webkit-animation: keyframeExample 1s linear infinite;
	animation: keyframeExample 1s linear infinite;
	-moz-animation: keyframeExample 1s linear infinite;

	-webkit-transition: left 500ms ease;
	-moz-transition: left 500ms ease;
	-o-transition: left 500ms ease;
	 transition: left 500ms ease;
}

@-webkit-keyframes keyframeExample {0% {}50% {}100% {}}
@-moz-keyframes keyframeExample {0% {}50% {}100% {}}
@keyframes keyframeExample {0% {}50% {}100% {}}

.flexBoxExample {
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-content: center;
	-webkit-align-content: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
*/
/*PAGE RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
/*PAGE RESET*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#333;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
h1 {font-size: 20px;margin:10px 0px;}
h2 {font-size: 18px;margin:10px 0px;}
h3 {font-size: 16px;margin:10px 0px;}
h4 {font-size: 14px;margin:10px 0px;}
h5 {font-size: 10px;margin:10px 0px;}

/* ------------------------------------------ */
/* BUTTONS ---------------------------------- */
/* ------------------------------------------ */
.button {
  display: block;
  width: 200px;
  height: 44px;
  background: darkorchid;
  color: #fff;
  line-height: 44px;
  text-align: center;
  position: relative;
  margin: 10px 0px;
}


/* ------------------------------------------ */
/* LOGIN PAGE ------------------------------- */
/* ------------------------------------------ */
.rememberMeButton {font-size: 40px;display: inline-block;width: 40px;height: 40px;text-align: center;line-height: 40px;}
.rememberMe {height: 40px;text-align: center;}
.rememberMe p {height: 40px;line-height: 40px;display: inline-block;vertical-align: top;padding: 0px 10px;font-size: 16px;}
.registerLoginContainer {display: flex;display: -webkit-flex;-webkit-box-pack: start;flex-direction: row;-webkit-flex-direction: row;flex-wrap: wrap;-webkit-flex-wrap: wrap;align-content: center;-webkit-align-content: center;justify-content: center;-webkit-justify-content: center;align-items: center;-webkit-align-items: center;height: 100%;width: 100%;-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease;}
.slideLogin {
  display: none;
  margin-top: 40px;
  border-top: 1px solid #E4E4E4;
  padding-top: 60px;
  position: relative;
}
.slideRegister {
    display: none;
    border-top: 1px solid #E4E4E4;
    padding-top: 50px;
    position: relative;
}
.hideSlideLogin, .hideSlideRegister {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: darkorchid;
}
.registerLoginContainer.registerLoginReduceMax {height: 0px;overflow: hidden;}
.registerLoginContainer.registerLoginReduce {height: 200px;}
input {
    height: 40px;
    width: 90%;
    position: relative;
    font-size: 24px;
    margin-bottom: 15px;
    border: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    padding: 0;
    box-sizing: content-box;
    background: #F2E8F7;
}
.fa-square{color:darkorchid;}
.submitLogin {height: 40px;display: block;width: 90%;border: none;background: darkorchid;color: #fff;font-size: inherit;text-transform: uppercase;}
form {display: flex;display: -webkit-flex;-webkit-box-pack: start;flex-direction: row;-webkit-flex-direction: row;flex-wrap: wrap;-webkit-flex-wrap: wrap;align-content: center;-webkit-align-content: center;justify-content: center;-webkit-justify-content: center;align-items: center;-webkit-align-items: center;}
/* ------------------------------------------ */
/* PANELS ----------------------------------- */
/* ------------------------------------------ */
.fullHeightPanel {
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;
    position: absolute;
}
.loadingPanel{
  text-align: center;
}
.registerLoginPanel{
  display: none;
}
